// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
    margin: 0 0 0 0.3em;
    padding: 0 0 0 0.6em;
    border-left: 0.3em solid #ccc;
    font-style: italic;
}

pre {
    background-color: #eff0f1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    margin: 0;
    padding: 0.5em;
    white-space: pre;
    overflow-x: auto;
}

.publi-container {
    margin: 1.5rem 0;

    .author {
        color: #da5767;
        margin-bottom: 0.2rem;
        padding: 0 0.5rem;
        .name {
            font-family: 'Arima Madurai', cursive;
            font-size: 1.5rem;
            font-weight: bold;
            margin-right: 0.25rem;
        }
        .ej {
            font-weight: lighter;
            font-size: 1.2rem;
        }
        .date {
            font-size: 1rem;
            font-weight: lighter;
            float: right;
            color: #e45e6e;
            text-transform: lowercase;
        }
    }
    .publi-box {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 1rem;

        .title {
            color: #4b4b4b;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .content {
            color: #565656;
            overflow-wrap: break-word;
            .read-more {
                color: #ef818e;
                text-decoration: none;
            }
        }

        .publi-tags {
            margin-bottom: 0.5rem;
            
            span {
                padding: 0.3rem 0.5rem;
                font-weight: normal;
                font-size: 0.8rem;
            }

            .badge-secondary {
                background-color: #999;
            }
            
            .badge-danger {
                background-color: #ef818e;
            }
        }

        .publi-options {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1rem;
            color: #bbb;
            float: right;
        }

        .dropdown-item {
            color: #d8495a;
        }

        .publi-answers {
            color: #ef818e;
            text-decoration: none;
        }
    }
}


.publi-form {
    margin-top: 0;
    width: 100%;
    background-color: white;
    border-radius: 5px;

    textarea:focus, input:focus{
        outline: none;
    }


    .form-title {
        width: 100%;

        padding: 2.5rem 1rem 0.5rem 1rem;
        border-style: solid;
        border: none;
        border-radius: 5px 5px 0 0;

        font-size: 1.2rem;
    }

    .form-text {
        background-color: white;
        padding: 0.5rem 1rem 2rem;
        outline: none;
        margin-top: 0;
        border: none;
        border-radius: 0 0 5px 5px;

        blockquote {
            font-style: italic;
        }
        pre {
            background-color: rgb(239,240,241);
        }
    }

    .btn {
        // position: relative;
        // float: right;
        // bottom: 3.8rem;
        right: 0.6rem;
        align-self: center;
    }

    .btn-light {
        // right: 1rem;
    }
    trix-toolbar {
        .trix-button-group {
            margin-bottom: 0 !important;
            padding: 0.2rem;
            position: relative;
            bottom: 4.5rem;
            border: none !important;
            width: 95%;
    
            button {
                border-bottom: none !important;
                padding-bottom: 0.1rem;
            }
        }
    
        .trix-button-row {
            height: 0;
        }
    }

    .publi-fields {
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .fields-head {
            display: flex;
            justify-content: space-between;
            width: 45%;
            align-items: center;
            .dropdown {
                .btn {
                    min-width: 10rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }

                .dropdown-menu {
                    padding: 0.2rem;

                    label {
                        display: none;
                    }
                    
                    .dropdown-item {
                        overflow: auto;
                        padding: 0.2rem 0;
                        min-height: 6rem;
                        margin-bottom: -0.8rem;   
                        
                        option {
                            margin-bottom: 0.2rem;
                        }

                        option:active {
                            background-color: #d8495a;
                        }

                    }

                    .dropdown-item:active {
                        background-color: transparent;
                        color: black;
                    }
                }
            }
        }
    }

}

// Copiei da internet pq fiquei com pregs

.switch-field {
    display: flex;
    height: 2rem;
}

.switch-field input {
	position: absolute;
	height: 1px;
	width: 1px;
    border: 0;
    opacity: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #dfdfdf07;
	color: rgba(0, 0, 0, 0.6);
	font-size: 1rem;
	text-align: center;
	padding: 0.2rem 0.9rem 0rem;
    margin-bottom: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #ef818e;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
