// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
    margin: 0 0 0 0.3em;
    padding: 0 0 0 0.6em;
    border-left: 0.3em solid #ccc;
    font-style: italic;
}

pre {
    background-color: #eff0f1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    margin: 0;
    padding: 0.5em;
    white-space: pre;
    overflow-x: auto;
}

.publi-container {
    margin: 1.5rem 0;

    .author {
        color: #da5767;
        margin-bottom: 0.2rem;
        padding: 0 0.5rem;
        .name {
            font-family: 'Arima Madurai', cursive;
            font-size: 1.5rem;
            font-weight: bold;
            margin-right: 0.25rem;
        }
        .ej {
            font-weight: lighter;
            font-size: 1.2rem;
        }
        .date {
            font-size: 1rem;
            font-weight: lighter;
            float: right;
            color: #e45e6e;
            text-transform: lowercase;
        }
    }
    .publi-box {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 1rem;

        .title {
            color: #4b4b4b;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .content {
            color: #565656;
            overflow-wrap: break-word;
            .read-more {
                color: #ef818e;
                text-decoration: none;
            }
        }
        .publi-options {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1rem;
            color: #bbb;
            float: right;
        }

        .dropdown-item {
            color: #d8495a;
        }

        .publi-answers {
            color: #ef818e;
            text-decoration: none;
        }
    }
}


.publi-form {
    margin-top: 0;
    width: 100%;
    background-color: white;
    border-radius: 5px;

    textarea:focus, input:focus{
        outline: none;
    }


    .form-title {
        width: 100%;

        padding: 2.5rem 1rem 0.5rem 1rem;
        border-style: solid;
        border: none;
        border-radius: 5px 5px 0 0;

        font-size: 1.2rem;
    }

    .form-text {
        background-color: white;
        padding: 0.5rem 1rem 3rem;
        outline: none;
        margin-top: 0;
        border: none;
        border-radius: 0 0 5px 5px;

        blockquote {
            font-style: italic;
        }
        pre {
            background-color: rgb(239,240,241);
        }
    }

    .btn {
        // position: relative;
        // float: right;
        // bottom: 3.8rem;
        right: 0.6rem;
        align-self: center;
    }

    .btn-light {
        // right: 1rem;
    }
    trix-toolbar {
        .trix-button-group {
            margin-bottom: 0 !important;
            padding: 0.2rem;
            position: relative;
            bottom: 4.5rem;
            border: none !important;
            width: 95%;
    
            button {
                border-bottom: none !important;
                padding-bottom: 0.1rem;
            }
        }
    
        .trix-button-row {
            height: 0;
        }
    }
}
