<%= search_form_for @search do |f| %>
    <div class="input-group m-3">
        <%= f.text_field :title_or_content_cont, class: "form-control", placeholder: "Busque aqui uma publicação" %>     
        <div class="input-group-append">
            <%= f.submit "Buscar", class: "btn btn-secondary" %>
        </div>
    </div>
<% end %>
