<div class="sidebar">
    <div class="user-pic"></div>
    <div class="user-name">
        <p class="h2"><%= current_user.name %></p>
        <p class="h4"><%= current_user.ej.name %></p>
    </div>
    <div class="tags">
        <h3> Categorias: </h3>
        <ul>
            <% @all_tags.each do |tag|%>
                <li><%= link_to "#{tag.name}(#{tag.publications.size})", by_tags_path(tag.name) %></li>
            <% end %>
        </ul>
    </div>
</div>